body {width: 100%;}

article {width: fit-content;
margin: 20px;
padding: 20px;
border-radius: 10px;
background-color: #222435}

.price {color: #edf2f4;} 

#discount {color: #2ec4b6;
font-size: 16px;}


